<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="simulateBlobCon" value="D:\Users\98voo\Documents\Work\GainSecure\fakeBlob"/>
	</appSettings>
	<connectionStrings>
		<add name="sqlDbCon" providerName="System.Data.SqlClient" connectionString="Server = .\SQLEXPRESS; Database = diners; Integrated Security = True;"/>
		<!--<add name="blobCon" providerName="" connectionString=""/>-->
	</connectionStrings>
</configuration>